<footer class="container-fluid">
  <div class="row">
    <div class="col-sm text-center">
      <a href="https://github.com/harshitanand" target="_blank">
        <i class="fab fa-github fa-3x"></i>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://medium.com/@wizzard_harshit" target="_blank">
        <i class="fab fa-medium fa-3x"></i>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/anandharshit" target="_blank">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/harshit.anand.927" target="_blank">
        <i class="fab fa-facebook fa-3x"></i>
      </a>
    </div>
  </div>
</footer>
