<div class="jumbotron">
  <div class="container text-center">
    <h1>Dynamic Voting App</h1>
    <p>Real Time voting app for creating custom polls with live results.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/newpoll" role="button">Create Poll</a>
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 text-center">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size:75px"></span>
      <h1>Vote And See Results</h1>
      <p>Everyone can vote, add another option and see the results</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/polls" role="button">Polls</a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <span class="glyphicon glyphicon-share" aria-hidden="true" style="font-size:75px"></span>
      <h1>Create And Share Polls</h1>
      <p>Create, edit, delete and share your Poll as authenticated user</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/newpoll" role="button">New Polls</a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <span class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size:75px"></span>
      <h1>Databases And Charts</h1>
      <p>Experience your results with updated charts and Databases</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Check Out</a>
      </p>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Manage Yor Own Polls</h1>
    <p>As an authenticated user you can manage your own polls.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/polls/mypolls" role="button">My Polls</a>
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 text-center">
      <span class="glyphicon glyphicon-blackboard" aria-hidden="true" style="font-size:75px"></span>
      <h1>AngularJs</h1>
      <p>Implemented using the Google-prefered high-performance Angular web framework</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Check Out</a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <span class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size:75px"></span>
      <h1>Databases And Charts</h1>
      <p>Experience your results with updated charts and Databases</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Check Out</a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <h1>Dynamic Voting App</h1>
      <p>Thumbnail label Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
        eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>
