<div class="col-lg-12">
  <div ng-if="!showEditPoll" class="col-lg-6">
    <form class="form-horizontal">
      <legend>
        <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{poll.primaryContent}}" socialshare-hashtags="Voting App"
          socialshare-url="{{shareUrl}}">
          <button type="submit" class="btn btn-success pull-right">
            <i class="fas fa-share-alt fa-sm"></i> Share me
          </button>
        </a>
        <button type="submit" class="btn btn-danger pull-right" ng-if="editPoll" ng-click="deletePoll()">
          Delete Poll
          <i class="fas fa-trash-alt fa-sm"></i>
        </button>
        <button type="submit" class="btn btn-info pull-right" ng-if="editPoll" ng-click="showEditBlock()">
          <i class="fas fa-edit fa-sm"></i> Edit Poll</button>
        <h2>{{ poll.primaryContent }}</h2>
        <p style="color:grey; margin-top:25px; font-size:20px"> {{poll.description}} </p>
        <br>
      </legend>
      <br>
      <br>
      <fieldset>
        <div class="form-group form-group-lg" style="color:burlywood;">
          <label class="col-lg-2 control-label"> Select an Option</label>
          <div class="col-lg-8">
            <div class="radio" ng-repeat="option in poll.pollOptions">
              <label>
                <input type="radio" class="form-control form-group-lg" name="optionsRadios" ng-model="$parent.selectedOption" ng-value="option"
                  ng-change="changeOption($index)">
                <p style="font-size:30px;margin-left:10px;margin-top:8px;"> {{option.content}}</p>
              </label>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-12 form-group form-group-lg">
          <label class="col-lg-2 control-label"></label>
          <div class="col-lg-10">
            <fieldset>
              <div class="col-lg-8" ng-if="newOptionBlock">
                <input type="text" class="form-control" ng-model="newOption.content" placeholder="Optional">
              </div>
              <div class="col-lg-2" ng-if="newOptionBlock" style="margin-left:50px;">
                <button class="btn btn-success btn-lg pull-right" ng-click="addNewOption()">Add</button>
              </div>
              <div class="col-lg-2" ng-if="!newOptionBlock" style="margin-left:50px;">
                <button class="btn btn-success btn-lg pull-right" ng-click="openNewOptionBlock()">Create New</button>
              </div>
            </fieldset>
          </div>
        </div>
        <br>
        <br>
        <div class="form-group form-group-lg" style="margin-top:60px;">
          <div class="col-lg-10">
            <a href="/polls">
              <button type="reset" class="btn btn-danger btn-lg pull-left col-lg-offset-2">
                <i class="fas fa-arrow-left fa-lg"></i> Cancel
              </button>
            </a>
            <button type="submit" class="btn btn-success btn-lg pull-right" ng-if="userVote !== null" ng-click="submitVote()">Update Vote
              <i class="fas fa-wrench fa-lg"></i>
            </button>
            <button type="submit" class="btn btn-success btn-lg pull-right" ng-if="userVote === null" ng-click="submitVote()">
              Submit Vote
              <i class="fas fa-check fa-lg"></i>
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div ng-if="showEditPoll" class="col-lg-6">
    <form class="form-horizontal">
      <legend>
        Edit Poll
      </legend>
      <fieldset>
        <div class="form-group form-group-lg">
          <label class="col-lg-2 control-label">Primary Content</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="poll.primaryContent" placeholder="Content" required>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <label class="col-lg-2 control-label">Description (Optional)</label>
          <div class="col-lg-10">
            <textarea class="form-control" ng-model="poll.description" rows="3"></textarea>
          </div>
        </div>
        <br>
        <br>
        <div class="form-group">
          <div class="col-lg-10">
            <button type="reset" class="btn btn-danger btn-lg col-lg-offset-3 pull-left" ng-if="showEditPoll" ng-click="showPollBlock()">Cancel
            </button>
            <button class="btn btn-success btn-lg pull-right" ng-click="savePoll()">Modify Poll</button>
          </div>
      </fieldset>
    </form>
    </div>

    <div class="col-lg-6" ng-if="!chartEmpty" style="margin-top:15%">
      <canvas id="myChart" class="chart chart-base" chart-type="poll.chartType" chart-data="poll.chartData" chart-labels="poll.chartLabels"
        chart-dataset-override="poll.colors" chart-options="poll.chartOptions">
      </canvas>
    </div>
  </div>
