<section>
  <div class="container" id="admin-login">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="popup-login-main-block">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="login-main-container">
                <div class="social-buttons-container">
                  <ul>
                    <li class="gplus-btn" ng-click="openSocialLogin('twitter')">
                      <a href="#">
                        Twitter Login
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
